<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Zephyr Job{% block title %}{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" type="image/vnd.microsoft.icon" href="{{ asset('favicon.ico') }}" />
        <meta name="description" content="{% block description 'Plateforme job de Zéphyr, BDE ESIEE Paris.' %}">

    {% block stylesheets %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
    {% endblock %}
    </head>

    <body>
    {% block navbar %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('zephyr_job_homepage') }}">PLATEFORME JOB</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-right">
                        {% if app.user is null %}
                            <li><a href="{{ path('fos_user_registration_register') }}">S'INSCRIRE</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}">CONNEXION</a></li>
                        {% else %}
                            <li><a href="#">MES ANNONCES</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">DECONNEXION</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    {% endblock %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

    {% block javascripts %}
        <script src="{{ asset('//code.jquery.com/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    </body>
</html>