{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
	{% if is_granted('ROLE_EXTERNE') %}
	    <div class="row">
	    	<h1>Jobs créés en ligne</h1>
			{% for i in owners %}
				{% if i.valid != 0 and i.done == 0 and i.expire == 0 %}
					<div class="col-md-4 col-sm-6">
						<div class="jobs">
							<a href="{{ path('zephyr_job_edit', {id:i.id}) }}">
								<div id="ticket">
									<br>
									<h4><b>{{ i.title }}</b></h4>
									<p>{{ i.category }}</p><br>
									<p>{{ i.shortcontent }}<p>
								</div>
							</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div><br><br>
		<div class="row">
	    	<h1>Jobs en attente de validation</h1>
			{% for j in owners %}
				{% if j.valid == 0 and j.done == 0 and j.expire == 0 %}
					<div class="col-md-4 col-sm-6">
						<div class="jobs">
							<a href="{{ path('zephyr_job_edit', {id:j.id}) }}">
								<div id="ticket">
									<br>
									<h4><b>{{ j.title }}</b></h4>
									<p>{{ j.category }}</p><br>
									<p>{{ j.shortcontent }}<p>
								</div>
							</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div><br><br>
	{% endif %}
	{% if is_granted('ROLE_STUDENT') %}
		<div class="row">
			<h1>Jobs auxquels vous postulez</h1>
			{% for k in candidats %}
				{% if k.valid != 0 and k.done == 0 and k.expire == 0 %}
					<div class="col-md-4 col-sm-6">
						<div class="jobs">
							<a href="{{ path('zephyr_job_job', {id:k.id}) }}">
								<div id="ticket">
									<br>
									<h4><b>{{ k.title }}</b></h4>
									<p>{{ k.category }}</p><br>
									<p>{{ k.shortcontent }}<p>
								</div>
							</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div><br><br>
	{% endif %}
	{% if is_granted('ROLE_EXTERNE') %}
		<div class="row">
			<h1>Jobs fermés ou expirés</h1>
			{% for l in owners %}
				{% if l.done != 0 or l.expire != 0 %}
					<div class="col-md-4 col-sm-6">
						<div class="jobs">
							<a href="{{ path('zephyr_job_edit', {id:l.id}) }}">
								<div id="ticket">
									<br>
									<h4><b>{{ l.title }}</b></h4>
									<p>{{ l.category }}</p><br>
									<p>{{ l.shortcontent }}<p>
								</div>
							</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}
</div>