{% extends "::base.html.twig" %}

{% block body %}
	{% if error is defined %}
		<div class="alert alert-dismissible alert-danger">
	  		<button type="button" class="close" data-dismiss="alert">×</button>
	  		<p>{{ error }}</p>
		</div>
	{% endif %}
	{% if success is defined %}
		<div class="alert alert-dismissible alert-success">
	  		<button type="button" class="close" data-dismiss="alert">×</button>
	  		<p>{{ success }}</p>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
		    <form method="post" onsubmit="return check_form()">
		  		<div class="form-group">
		    		{{ form_label(form.title) }}
		            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
		  		</div>
		  		<div class="form-group">
		    		{{ form_label(form.category) }}
		            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
		  		</div>
		  		<div class="form-group">
		    		{{ form_label(form.short_content) }}
		            {{ form_widget(form.short_content, {'attr': {'class': 'form-control'}}) }}
		  		</div>
			  	<div class="form-group">
	    			{{ form_label(form.content) }}
	            	{{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
		  		</div><br>
		  		<button type="submit" class="btn btn-default">Créer une annonce</button>
			</form>
		</div>
	</div>
{% endblock body %}

{% block javascripts %}
	<script>
		function check_form() {
			var editor_val = CKEDITOR.instances.job_content.document.getBody().getChild(0).getText();
			if (editor_val == '') {
				alert("Vous n'avez pas écrit d'annonce.");
				return false ;
			}
			return true ;
		}
	</script>
{% endblock javascripts %}