{% extends "::base.html.twig" %}

{% block body %}
	{% if error is defined %}
		<div class="alert alert-dismissible alert-danger">
	  		<button type="button" class="close" data-dismiss="alert">×</button>
	  		<p>{{ error }}</p>
		</div>
	{% endif %}
	{% if success is defined %}
		<div class="alert alert-dismissible alert-success">
	  		<button type="button" class="close" data-dismiss="alert">×</button>
	  		<p>{{ success }}</p>
		</div>
	{% endif %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
		    <form method="post">
		  		<div class="form-group">	
		    		{{ form_label(form.title) }}
		            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
		  		</div>
		  		<div class="form-group">	
		    		{{ form_label(form.category) }}
		            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
		  		</div>
		  		<div class="form-group">	
		    		{{ form_label(form.short_content) }}
		            {{ form_widget(form.short_content, {'attr': {'class': 'form-control'}}) }}
		  		</div>
			  	<div class="form-group">	
		    		{{ form_label(form.content) }}
		            {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
		  		</div><br>
		  		{% if is_granted('ROLE_SUPER_ADMIN') %}
	  				<div class="checkbox">
    					<label>
      						<input type="checkbox" name="checkbox[]" value="valid" {% if job.valid == 1 %}checked{% endif %}> Validé
    					</label>
		  			</div>
		  			<div class="checkbox">
    					<label>
      						<input type="checkbox" name="checkbox[]" value="expire" {% if job.expire == 1 %}checked{% endif %}> Expiré
    					</label>
		  			</div>
		  			<div class="checkbox">
    					<label>
      						<input type="checkbox" name="checkbox[]" value="done" {% if job.done == 1 %}checked{% endif %}> Fini
    					</label>
		  			</div><br>
		  		{% endif %}
		  		<button type="submit" class="btn btn-default">Modifier votre annonce</button>
			</form>
		</div>
	</div>
{% endblock body %}