{% extends '::base.html.twig' %}  

{% block body %}
	{% if error is defined %}
		<div class="alert alert-dismissible alert-danger">
	  		<button type="button" class="close" data-dismiss="alert">×</button>
	  		<p>{{ error }}</p>
		</div>
	{% endif %}
	{% if success is defined %}
		<div class="alert alert-dismissible alert-success">
	  		<button type="button" class="close" data-dismiss="alert">×</button>
	  		<p>{{ success }}</p>
		</div>
	{% endif %}

	<img src="{{ asset('css/logo.png') }}" class="img-responsive" align="middle"></img>
	<br><br>
	<div class="compteur">
		<ul>
			<li>
				<p>{{ valid }}<br><span>job{% if valid != 1 and valid != 0 %}s{% endif %}<br>en ligne</span></p>
			</li>
			<li>
				<p>{{ notvalid }}<br><span>offre{% if notvalid != 1 and notvalid != 0 %}s{% endif %}<br>en attente</span></p>
			</li>
		</ul>
	</div>
	<br><br>
	<div class="row">
		{% for job in jobs %}
			{% if job.valid != 0 and job.done == 0 and job.expire == 0 %}
				<div class="col-md-4 col-sm-6">
					<div class="jobs">
						<a href="{{ path('zephyr_job_job', {id:job.id}) }}">
							<div id="ticket">
								<br>
								<h4><b>{{ job.title }}</b></h4>
								<p>{{ job.category }}</p><br>
								<p>{{ job.shortcontent }}<p>
							</div>
						</a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}